.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

footer#footer{
  display: block;
  position: relative;
  z-index: 9999;
  bottom: 0;
  height: 50px;
  width:100%;
  background-color: #00000070;
}

footer#footer .contenInfo{
  width: fit-content;
  width: -moz-fit-content;
  height: auto;
  padding: 10px;
  position: relative;
  margin: 0 auto;
}

footer#footer .contenInfo p{
  color:#fff;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    border: 1px solid #e4ecef !important;
}

img.img-fluid.img-thumbnail {
    width: 100%;
    position: relative;
    float: left;
}

.standar{
  padding: 20px;
  min-height: 800px;
}

.contentImg {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ListInfo ul {
    padding: 0;
}

.ListInfo ul li {
    list-style: none;
    text-align: left;
    padding: 10px;
    border: 1px solid #dee2e6;
    margin: 9px 0;
}

.ListInfo ul li p {
    margin: 0;
    font-size: 12px;
}

.ListInfo ul li h4 {
    font-size: 11px;
    margin: 0;
    font-weight: 700;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

.contentGeneralPerfil h3 {
    font-family: 'Staatliches', cursive;
}

.contentGeneralPerfil {
    text-align: left;
}

.contentGeneralPerfil p {
    margin: 0;
    line-height: 27px;
}

p.space{
  display: block;
  margin-bottom: 10px;
}